* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #ff9a4b;
}

.box {
  width: 960px;
  margin: 50px auto;
  display: flex;
}

.step {
  width: 300px;
  background-color: #eeeeee;
  margin-right: 30px;
  padding: 10px 10px;
  position: relative;
}

.step:last-child {
  margin-right: 0;
}

.name {
  color: white;
  background-color: #ff9a4b;
  position: absolute;
  top: 0;
  left: 0;

}

h3 {
  padding-top: 15px;
  padding-bottom: 5px;
}

.image1 {
  background-image: url(img/flow01.png);
  background-position: bottom;
  background-size: cover;
  height: 150px;
}

.image2 {
  background-image: url(img/flow02.png);
  background-position: bottom;
  background-size: cover;
  height: 150px;
}

.image3 {
  background-image: url(img/flow03.png);
  background-position: bottom;
  background-size: cover;
  height: 150px;
}

.footer {
  background-color: #aaaaaa;
  width: 100%;
  height: 50px;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
  }
  
  .main {
    width: 100%;
  }

  .box {
    width: 90%;
    display: block;
  }

  .step {
    margin-bottom: 20px;
  }

  .step:last-child {
    margin-bottom: 0;
  }

  .footer {
    width: 100%;
  }
}